<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="p-2">
                <div>
                    <div class="page-pretitle">
                        Overview
                    </div>
                    <h2 class="page-title">
                        {{this.title}}
                    </h2>
                </div>
            </div>
            <div style="width: 410px;" class="ps-3">
                <input type="search" id="searchChatUser" class="form-control"
                    placeholder="Search by first name, last name, full name" />
            </div>
            <div class="p-2 filterUser" style=" height: 820px; overflow-x: hidden; overflow-y: auto;">
                {{#each data}}
                {{> chat/list}}
                {{/each}}
            </div>
        </div>
        <div class="col-9 p-2 chatBox"> </div>
    </div>
</div>

<script src="/javascripts/chat.js"></script>