<div class="container-fluid" id="myBody">
    {{#title title}}
    <span class="page-title p-2">User Report</span>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1>TotalPost :- {{report.TotalPost}}</h1>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1>User Saved Post :- {{report.userSaved}}</h1>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1>Other Saved Post :- {{report.otherSaved}}</h1>
                </div>
            </div>
        </div>
    </div>
    {{/title}}
    <div class="row p-2">
        <div class="col p-3">
            <div class="page-pretitle">
                Overview
            </div>
            <h2 class="page-title">
                {{this.title}}
            </h2>
        </div>
        {{#title title}}
        <div class="form-group pt-2 col-3">
            <label for="formGroupExampleInput">Filter Post</label>
            <select id="filterPost" class="form-control" name="filterPost">
                <option value="">All</option>
                <option value="mine">Mine</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group pt-2 col-3">
            <label for="formGroupExampleInput">Sorting Post</label>
            <select id="sortPost" class="form-control" name="sortPost">
                <option value="date">By Date &amp; Time</option>
                <option value="title">By Post Title</option>
            </select>
        </div>

        <div class="form-group pt-2 col-3">
            <label for="formGroupExampleInput">Search Post</label>
            <div class="form-outline">
                <input type="search" id="searchPost" class="form-control" placeholder="Search by title & desc" />
            </div>
        </div>
        {{/title}}
    </div>
    <div class="filterData row justify-content-start" id="myDiv">
        {{> post/filter}}
    </div>
</div>