<div class="container justify-content-center p-5">
    {{#if data}}
    <h1 class="text-primary">Your Account is Verify Successfully</h1>
    <p>Now you can logIn</p>
    {{else}}
    <h1 class="text-primary">Something when wrong</h1>
    {{/if}}
</div>