body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form .error {
  color: red;
}

.postContent {
  overflow-y: scroll;
  height: 6em;
  text-align: justify;
}