<div>
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="avatar avatar-m col-2"
                    style="background-image:{{#if requestUser.profile}}url(/images/uploads/{{requestUser.profile}}){{else}}url(/images/default/user.png){{/if}}; border-radius: 50%; text-align: start;">
                </div>
                <div class="col-10">
                    <h4 style="top: 35%; position: absolute">Hardik Ankoliya</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card w-100" style="height: 825px;">
    <h1>Chat Box</h1>
</div>